<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'DojoReads_app/css/style.css' %}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
    .recentreviews{
        margin:10px;
        padding: 15px;
        display:inline-block;
        width:40%;
    }
    .other{
        padding:15px;
        margin:10px;
        display:inline-block;
        width:40%;
        vertical-align:top;
    }
    .list_of_books, .list_of_reviews{
        overflow:scroll; height:300px;
    }
</style>
<body class="container">
    <header>
        <ul style="display:inline-block;">
            <li style="display:inline-block;"><h1>Welcome, {{user.first_name}}!</h1></li>
            <li style="display:inline-block;"><a href="/books">Home</a></li>            
            <li style="display:inline-block;"><a href="/books/add">Add Book and Review</a></li>
            <li style="display:inline-block;"><a href="/logout">Log Out</a></li>
        </ul>



    </header>

    <div class="user_info">
        <p>User Alias : {{user.first_name}}</p> 
        <p> Name : {{user.first_name}} {{user.last_name}}</p>
        <p>Email: {{user.email}}</p>
        <p>Total Reviews: {{user.reviewcount}}</p>
    </div>
    <h1>Posted Reviews on the following books:</h1>
    <div class="posted">
        {% for review in reviews %}
            <p><a href="/books/{{review.book.id}}">{{review.book.title}}</a></p>
        {% endfor %}
    </div>

</body>
</html>